POSTGRES_DB=nombre_base_datos
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=contraseña_segura

JWT_SECRET_KEY=clave_jwt_segura_de_al_menos_32_caracteres
JWT_EXPIRATION_TIME=86400000

DATABASE_URL=jdbc:postgresql://localhost:5433/nombre_base_datos
DATABASE_USERNAME=usuario_postgres
DATABASE_PASSWORD=contraseña_segura